{% extends 'base.html' %}

{% block title %}Field Requests{% endblock %}

{% block content %}
<section id="field-requests">
  <h2 class="h4">Field Requests</h2>
  {% if messages %}
  <div class="mt-3">
      {% for message in messages %}
          <div class="alert {% if message.level == messages.ERROR %}custom-error-message{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
  </div>
{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>University</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      {% for allstudent in allstudents %}
      <tr>
        <td>{{ allstudent.id }}</td>
        <td>{{ allstudent.student.username }}</td>
        <td>{{ allstudent.university }}</td>
        <td>
          <a href="{% url 'student_detail' allstudent.id %}" class="btn btn-primary btn-sm">View Student</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No List found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
