{% extends 'base.html' %}

{% block title %}Replied Requests {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="h4">Replied Requests</h2>
    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
            <div class="alert {% if message.level == messages.ERROR %}custom-error-message{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Request ID</th>
          <th>Department</th>
          <th>University</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for Nrequest in Nrequests %}
        <tr>
          <td>{{ Nrequest.id }}</td>
          <td>{{ Nrequest.department }}</td>
          <td>{{ Nrequest.s_details.university }}</td>
          <td>{{ Nrequest.startDate}} to {{ Nrequest.endDate }}</td>
          <td><a href="{%url 'decision' Nrequest.id%}"><button class="btn btn-success">{{Nrequest.coordinator_response}}</button></a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No requests found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
