{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Field Request System{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/allstyles.css' %}">
</head>
<body>
  <header class="bg-primary text-white p-3 ">
    <div class="container">
      <h1 class="h3 margin"><strong>Field Request System</strong> </h1>
    </div>
  </header>

  <div class="dashboard-container">
    <button class="menu-btn" onclick="toggleSidebar()">☰ Menu</button>
    <nav class="sidebar" id="sidebar">
      <div class="profile-section">
        <img src="{% static 'img/images.jpeg'%}" alt="Profile Picture" class="profile-pic">
        <p>Tanzania Building Agency</p>
      </div>
      <hr>
      <hr>
      <a href="{% url 'student_dashboard' %}" class="fas fa-user-circle"> Profile</a>
      <a href="{% url 'request_field_training' %}" class="fas fa-file-pdf"> Field Requests</a>
      <a href="{% url 'add_student_details' %}" class="fas fa-id-card"> Student Information</a>
      <a href="{% url 'request_Status'%}" class="fas fa-hourglass-half"> Request Status</a>
      <a href="{% url 'logout' %}" class="fas fa-sign-out-alt"> Log Out</a>
      
    </nav>
    {% csrf_token %}

    <main class="content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function toggleSidebar() {
      document.getElementById('sidebar').classList.toggle('open');
    }
  </script>
</body>
</html>
