{% extends 'BASE.html' %}

{% block title %}Student Information{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Add Student Details</h2>
  <form method="POST" enctype="multipart/form-data" action="{% url 'add_student_details' %}">
      {% csrf_token %}
      <div class="form-group">
          <label for="profilePic">Profile Picture:</label>
          <input type="file" class="form-control-file" id="profilePic" name="profilePic" required>
      </div>
      <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="age" name="age" required>
      </div>
      <div class="form-group">
          <label for="university">University:</label>
          <input type="text" class="form-control" id="university" name="university" required>
      </div>
      <div class="form-group">
          <label for="course">Course:</label>
          <input type="text" class="form-control" id="course" name="course" required>
      </div>
      <div class="form-group">
          <label for="year">Year:</label>
          <select class="form-control" name="year" id="year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
